:root {
  --light: #f8f8f8;
  --mono: #707070;
  --sky: #1792d2;
  --dark: #143774;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

.image-full {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}

/* ====== Typography ====== */

h1,
h2,
h3,
.article-title {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: var(--dark);
  margin-top: 0;
}

h3 {
  color: var(--sky);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: var(--sky);
}

a:hover,
a:focus {
  color: var(--dark);
}

strong {
  font-weight: 700;
}


/* h1 logo subtitle */
.subtitle {
  color: var(--sky);
  font-weight: 700;
  text-transform: uppercase;
  font-size: .75rem;
  margin: 0;
  letter-spacing: 0.1em;
}

.article-title {
  font-size: 1.5rem;
}

.read-more,
.article-info {
  font-size: .875rem;
}

.read-more {
  color: var(--sky);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.read-more:hover,
.read-more:focus {
  color: var(--dark);
  text-decoration: underline;
}

.article-info {
  margin: 2.5em 0;
}

/* ====== Nav Layout ====== */

header {
  background-color: var(--light);
  padding: 2em 0;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 2em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ====== Navigation ====== */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav li {
  white-space: nowrap;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 0.5em 0;
}

nav a {
  text-decoration: none;
  color: var(--mono);
  font-weight: 700;
  padding: 5px 0;
}

nav a:hover,
nav a:focus {
  color: var(--sky)
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: var(--mono);
}


@media (min-width: 657px) {
  .container-flex {
    flex-direction: row;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 1.5em;
  }

  main {
    width: 70%;
    padding-bottom: 2em;
  }

  aside {
    width: 25%;
    min-width: 180px;
    margin-left: 1em;
  }

}


/* ====== Articles Layout ======= */

.featured {
  border-bottom: 2px solid rgb(199, 199, 199);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-content {
  order: 2;
}

.article-recent-img {
  order: 1;
}

.article-info {
  white-space: nowrap;
  font-size: 0.75rem;
}

.article-body {
  white-space: wrap;
}

@media (min-width: 675px) {
  .recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-content {
    width: 68%;
  }

  .article-recent-img {
    width: 29%;
  }

  .featured {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    order: -2;
    min-height: 200px;
    object-fit: cover;
  }

  .article-info {
    order: -1;
  }

}

/* ====== Widgets ====== */

.sidebar-widget {
  border: 18px solid rgb(235, 235, 235);
  padding: 1.5em;
  margin-bottom: 2.5em;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(199, 199, 199) ;
  margin-bottom: 1.2em;
}

.widget-recent-post:last-child {
  border: 0;
  margin: 0;
}

.widget-image {
  order: -1;
  padding-bottom: 1em;
}

.widget-body {
  color: var(--sky);
  white-space: pre-wrap;
}

.widget-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 0.08em;
}

.widget-title,
.widget-post-title {
  font-size: 1.1rem;
}

.widget-post-title {
  white-space: pre-wrap;
  color: var(--dark);
}

/* ====== Footer ====== */

footer {
  text-align: center;
  background-color: var(--dark);
  padding: 1em 0;
  color: var(--light);
}

footer p {
  letter-spacing: 0.07em;
}